*,
body {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#team {
    margin-top: -80px; 
    padding-top: 80px; 
}

.container {
    padding: 0;
    margin: 0;
}

.navigation-bar {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 96px;
    background-color: rgb(127, 64, 135);
    background-image: -webkit-gradient(linear, left top, right top, from(#884391), to(#442249));
    background-image: -o-linear-gradient(left, #884391, #442249);
    background-image: linear-gradient(90deg, #884391, #442249);
    position: fixed;
    z-index: 1;
}

.nav-logo {
    width: 30%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-logo>img {
    height: 90%;
}

.nav-menu {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.nav-menu>a {
    color: #e1d8e4;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 28px;
    text-decoration: none;
    cursor: pointer;
}

.nav-menu>a[href="#contact"] {
    display: none;
}

.nav-menu>a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #e1d8e4;
    -webkit-transition: width .3s;
    -o-transition: width .3s;
    transition: width .3s;
}

.nav-menu>a:hover::after {
    width: 100%;
}

.nav-menu>div>a {
    width: 44px;
    height: 44px;
    position: relative;
    display: inline-block;
}

.menu-img-hover {
    width: 44px;
    height: 44px;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav-menu>div>a:hover .menu-img-hover {
    display: inline-block;
}

.logo-bar {
    max-height: 950px;
    height: 950px;
    position: relative;
    overflow: hidden;
}

.logo-bar>img {
    position: absolute;
    padding-bottom: 900px;
    -webkit-filter: blur(8px);
    filter: blur(8px);
}

.logo-container {
    border: 3px solid #707070;
    text-align: center;
    color: #040820;
    position: relative;
    padding: 100px 130px;
}

.logo-container>h1 {
    font-family: 'Maven Pro';
    font-weight: 900;
    font-size: 130px;
    opacity: 0.9;
}

.logo-container>div {
    text-transform: uppercase;
    font-family: 'Maven Pro';
    font-weight: 400;
    font-size: 38px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    padding: 20px;
    letter-spacing: 0.05em;
}

.logo-container>div::before,
.logo-container>div::after {
    margin: 0 30px;
    content: '';
    width: 90px;
    height: 2px;
    background-color: #040820;
}

.inner-shadow {
    -webkit-box-shadow: inset 0 8px 10px -6px black;
    box-shadow: inset 0 8px 10px -6px black;
}

.offer-container {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 100px 0 80px 0;
}

.offer-container>h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 83px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 50px 0 30px 0;
}

.offer-container>h2::after,
.offer-container>h2::before {
    margin: 0 40px;
    content: '';
    width: 130px;
    height: 2px;
    background-color: #040820;
}

.offer-parts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 80%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: flex-start;
}

.offer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 28%;
}

.offer-info>p {
    font-family: 'Open Sans';
    font-size: 22px;
    padding-bottom: 100px;
}

.offer-info>div {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    -webkit-box-shadow: 0px 0px 15px -6px rgba(112, 112, 112, 1);
    box-shadow: 0px 0px 15px -6px rgba(112, 112, 112, 1);
}

.offer-img {
    height: 70%;
}

.controller-img {
    opacity: 0.7;
    width: 75%;
}

.v-container,
.info-container {
    padding-bottom: 100px;
}

.v-header {
    width: 50%;
    font-family: 'Open Sans';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.v-header>h2 {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 82px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 80%;
}

.v-header>h2::after {
    margin: 0 0 0 50px;
    content: '';
    width: 300px;
    height: 1px;
    background-color: #ffffff;
}

.v-header>div {
    font-size: 22px;
    width: 70%;
    padding: 20px;
}

.v-header>div>ul {
    padding-left: 50px;
}

.v-img {
    width: 50%;
}

.logo-img {
    width: 60%;
}

.team-img {
    width: 100%;
}

.proud-img-desktop {
    width: 45%;
}

.proud-img-mobile {
    display: none;
}

.info-desc {
    width: 50%;
    font-family: 'Open Sans';
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info-desc>h2 {
    width: 90%;
    font-weight: 700;
    font-size: 82px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.info-desc>h2::after {
    margin: 0 80px;
    content: '';
    width: 300px;
    height: 1px;
    background-color: #040820;
}

.info-desc>div {
    font-size: 22px;
    width: 65%;
    padding: 20px 0 0 40px;
}

.wave {
    background: #844994;
    background-image: -webkit-gradient(linear, left top, right top, from(#844994), to(#572367));
    background-image: -o-linear-gradient(left, #844994, #572367);
    background-image: linear-gradient(90deg, #844994, #572367);
    height: 150px;
    -webkit-clip-path: url(#wave);
    clip-path: url(#wave);
}

.wave-bottom {
    background: #fff;
    height: 150px;
    -webkit-clip-path: url(#wave);
    clip-path: url(#wave);
    margin-top: -1px;
}

.w-bottom {
    height: 149px;
}

.contact-container {
    width: 100%;
}

.contact-header {
    font-family: 'Open Sans';
    text-align: center;
    padding-bottom: 50px;
}

.contact-header>h3 {
    font-weight: 700;
    font-size: 82px;
    opacity: 0.7;
}

.contact-header>div {
    font-size: 22px;
    opacity: 0.7;
}

.contact-header>div>p>a {
    text-decoration: none;
    font-weight: bold;
    color: #000000;
}

.container-copyright {
    width: 100%;
    height: 37px;
    background-color: rgba(150, 150, 150, 0.3);
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
}

.container-copyright>p {
    font-family: 'Open Sans';
    font-size: 18px;
    color: #969696;
}
.center {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bg-gradient {
    background-color: #844994;
    background-image: -webkit-gradient(linear, left top, right top, from(#844994), to(#572367));
    background-image: -o-linear-gradient(left, #844994, #572367);
    background-image: linear-gradient(90deg, #844994, #572367);
    color: #e1d8e4;
}

.hamburger {
    display: none;
}

.hamburger .line {
    width: 30px;
    height: 2px;
    background-color: #ecf0f1;
    display: block;
    margin: 8px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

#hamburger.is-active .line:nth-child(2) {
    opacity: 0;
}

#hamburger.is-active .line:nth-child(1) {
    -webkit-transform: translateY(10px) rotate(45deg);
    -ms-transform: translateY(10px) rotate(45deg);
    transform: translateY(10px) rotate(45deg);
}

#hamburger.is-active .line:nth-child(3) {
    -webkit-transform: translateY(-10px) rotate(-45deg);
    -ms-transform: translateY(-10px) rotate(-45deg);
    transform: translateY(-10px) rotate(-45deg);
}

@media screen and (max-width: 1440px) {

    .nav-logo,
    .nav-menu {
        width: 35%;
    }

    .navigation-bar {
        height: 70px;
    }

    .nav-menu>a {
        font-size: 20px;
    }

    .logo-container>h1 {
        font-size: 100px;
    }

    .logo-container>div {
        font-size: 26px;
    }

    .logo-container {
        padding: 70px 80px;
    }

    .logo-bar {
        height: 700px;
    }

    .container-copyright {
        height: 26px;
    }

    .container-copyright>p {
        font-size: 14px;
    }

    .offer-container {
        padding: 60px 0 50px 0;
    }

    .offer-container>h2,
    .v-header>h2,
    .info-desc>h2,
    .contact-header>h3 {
        font-size: 64px;
    }

    .offer-parts {
        width: 84%;
    }

    .offer-info>p {
        font-size: 18px;
        padding-bottom: 70px;
    }

    .offer-info>div {
        width: 220px;
        height: 220px;
    }

    .v-header>div,
    .info-desc>div,
    .contact-header>div {
        font-size: 18px;
    }

    .v-header>h2 {
        width: 85%;
    }

    .v-header>div,
    .info-desc>div {
        width: 75%;
    }

    .v-header>h2::after {
        width: 230px;
    }

    .w-bottom {
        height: 119px;
    }

    .wave-bottom,
    .wave {
        height: 120px;
    }

    .v-container,
    .info-container {
        padding-bottom: 80px;
    }
}

@media screen and (max-width: 1024px) {
    .nav-menu {
        width: 40%;
    }

    .nav-menu>div>a>img {
        width: 35px;
        height: 35px;
    }

    .nav-logo>img {
        height: 80%;
    }

    .logo-container>h1 {
        font-size: 80px;
    }

    .logo-container>div {
        font-size: 24px;
    }

    .logo-container {
        border: 2px solid #707070;
        padding: 40px 30px;
    }

    .logo-container>div::before,
    .logo-container>div::after {
        margin: 0 20px;
        height: 1px;
    }

    .logo-bar {
        height: 600px;
    }

    .container-copyright {
        height: 22px;
    }

    .container-copyright>p {
        font-size: 12px;
    }

    .offer-container {
        padding: 20px 0 50px 0;
    }

    .offer-container>h2,
    .v-header>h2,
    .info-desc>h2,
    .contact-header>h3 {
        font-size: 56px;
    }

    .info-desc>h2 {
        width: 100%;
    }

    .info-desc>div {
        padding: 20px 0 0 0;
        width: 80%;
    }

    .offer-parts {
        width: 88%;
    }

    .offer-info>p {
        font-size: 16px;
        padding-bottom: 50px;
    }

    .offer-info>div {
        width: 160px;
        height: 160px;
    }

    .v-header>div,
    .info-desc>div,
    .contact-header>div {
        font-size: 16px;
    }

    .v-header>h2 {
        width: 90%;
    }

    .v-header>h2::after {
        width: 140px;
    }

    .w-bottom {
        height: 89px;
    }

    .wave-bottom,
    .wave {
        height: 90px;
    }
}

@media screen and (max-width: 768px) {
    .navigation-bar {
        height: 65px;
    }

    .nav-menu,
    .nav-menu>div {
        display: none;
    }

    .nav-menu>a[href="#contact"] {
        display: block;
        text-align: center;
    }

    .nav-active {
        width: 50%;
        display: block;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: rgb(52, 30, 58);
        display: flex;
        flex-direction: column;
    }

    .nav-active>a {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .nav-button:not(:nth-child(4)) {
        border-bottom: 1px solid #ecf0f1;
    }

    .nav-menu>a::after,
    .nav-menu>a:hover::after {
        display: none;
    }

    .hamburger {
        display: block;
        position: relative;
    }

    .nav-logo {
        width: 60%;
    }

    .logo-container>h1 {
        font-size: 70px;
    }

    .logo-container>div {
        font-size: 20px;
    }

    .logo-container {
        padding: 30px 10px;
    }

    .logo-container>div::before,
    .logo-container>div::after {
        margin: 0 20px;
        width: 60px;
        height: 1px;
    }

    .logo-bar {
        height: 550px;
    }

    .offer-container>h2,
    .v-header>h2,
    .info-desc>h2,
    .contact-header>h3 {
        font-size: 50px;
    }

    .offer-info>p {
        font-size: 14px;
    }

    .offer-info>div {
        width: 130px;
        height: 130px;
    }

    .v-header>div,
    .info-desc>div,
    .contact-header>div {
        font-size: 14px;
    }

    .v-header>h2::after {
        margin: 0 20px;
        width: 100px;
    }

    .logo-img {
        width: 90%;
    }

    .w-bottom {
        height: 59px;
    }

    .wave-bottom,
    .wave {
        height: 60px;
    }

    .info-desc>h2::after {
        margin: 0 40px;
    }

    .proud-img-desktop {
        width: 60%;
    }
}

@media screen and (max-width: 425px) {
    .navigation-bar {
        height: 55px;
    }

    .offer-container>h2::after,
    .offer-container>h2::before {
        margin: 0 20px;
        width: 80px;
        height: 1px;
    }

    .logo-container>h1 {
        font-size: 85px;
        font-family: 'Open Sans';
        font-weight: 100;
    }
    .logo-container {
        border: none;
    }
    .logo-bar>img {
        filter: brightness(0.7) blur(8px);
        -webkit-filter: brightness(0.7) blur(8px);
    }
    .logo-container>div {
        font-size: 28px;
    }

    .logo-container>div::before,
    .logo-container>div::after {
        display: none;
    }

    .offer-parts {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .offer-info {
        width: 90%;
        text-align: center;
    }

    .offer-info:nth-child(1),
    .offer-info:nth-child(2) {
        padding-bottom: 40px;
    }

    .offer-info>p {
        padding-bottom: 30px;
        font-size: 16px;
    }

    .w-bottom {
        height: 39px;
    }

    .wave-bottom,
    .wave {
        height: 40px;
    }

    .v-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .v-header {
        width: 90%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .v-header>div,
    .info-desc>div {
        width: 90%;
    }

    .v-img {
        width: 100%;
    }

    .logo-img {
        width: 70%;
    }

    .v-container,
    .info-container {
        padding-bottom: 30px;
    }

    .info-container {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .info-desc {
        width: 90%;
    }
    .v-header>h2 {
        width: 100%;
    }
    .v-header>h2::after {
        width: 90px;
    }

    .proud-img-desktop {
        display: none;
    }

    .proud-img-mobile {
        display: block;
        width: 50%;
    }
}
@media screen and (max-width: 375px) {
    .v-header>h2 {
        width: 90%;
    }
    .offer-container>h2::after,
    .offer-container>h2::before {
        width: 50px;
    }

    .logo-container>h1 {
        font-size: 80px;
    }

    .logo-container>div {
        font-size: 26px;
    }

    .w-bottom {
        height: 29px;
    }

    .wave-bottom,
    .wave {
        height: 30px;
    }

    .v-header {
        width: 100%;
    }

    .v-container,
    .info-container {
        padding-bottom: 15px;
    }
}
@media screen and (max-width: 320px) {
    .offer-container>h2::after,
    .offer-container>h2::before {
        width: 20px;
    }
    .offer-container>h2, .v-header>h2, .info-desc>h2, .contact-header>h3 {
        font-size: 45px;
    }
    .info-desc>h2::after {
        margin: 0 20px;
    }
    .container-copyright>p {
        font-size: 10px;
    }
}