*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    padding: 0;
    margin: 0;
}

.navigation-bar {
    height: 96px;
    background: rgb(127,64,135);
    background-image: linear-gradient(90deg, rgb(127, 64, 135), rgb(71,35,76));
}

.nav-menu {
    color: #e1d8e4;
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 28px;
}